/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,body{
	padding:0;
	margin:0;
	background:#fff;
	letter-spacing:1px;
font-family: 'Dosis', sans-serif;
}
body a{outline:none;
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	text-decoration:none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}
.clear{clear:both;}
@media only screen and (min-width: 959px) {
    .img {
        max-width: 50%;
        max-height: 50%;
        display: block;
        margin-left: auto;
                margin-right: auto;
    }
}


.gallery-grids img{
    width:300px; 
    height:200px;
   transition: 0.5s
}
.gallery-grids img:hover{

    padding: 2%;
    transition: 0.5s;
}
#cuete img{
    width:250px; 
    height:250px;
   
}
#fonfo img{
  width: 100px;
  height: 100px;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	letter-spacing:1px;
	font-family: 'Dosis', sans-serif;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	padding:0;
font-family: 'Dosis', sans-serif;
	letter-spacing:1px;
}	
p{
	margin:0;
	padding:0;
	letter-spacing:1px;
font-family: 'Dosis', sans-serif;

}
ul{
	margin:0;
	padding:0;
}
/*-- //header --*/ 
/*-- //Reset-Code --*/
.about,.services,.gallery,.contact,.team {padding:6em 0;}
.services,.team{background:black;


}
.about{background-color: rgba(173, 173, 173, 0.25);}
.title {
        font-size: 50px;
    text-align: center;
    color: #fff;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 12px;
}
.clr-white{color: #000;}
/*-- header --*/
/*--header start here--*/
.top-nav{
background: #fff;}
.banner {
    background: url(../images/b2.jpg)no-repeat center;
    background-size: cover;
    min-height: 800px;
}
.nav > li > a {
    position: relative;
    display: block;
}
nav.navbar.navbar-default.navbar-fixed-top {
	    position: absolute;
		    border: none;
}

.navbar-nav {
    float:none; 
    margin: 0;
}
.navbar-nav > li {
    text-align: center;
	width:16.6%;
}
div#navbar {
    padding: 0px ;
}
ul.nav.navbar-nav li a {
    font-size:17px;
    color: #000;
	padding: 20px 0px;
		    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
ul.nav.navbar-nav li a:hover{
	    background: rgba(0, 0, 255, 0);
	 border-right: 3px solid #ff4f81;
      border-left: 3px solid #ff4f81;
    color: #000;
		transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.navbar-fixed-top {
    top: 83px;
}
/*--end nav bar--*/
/*-- search --*/
.search-w3ls {
	margin-top:5px;
	float:right;
display:inline-block;
	width:200px;
    border: 3px solid #000;
}
input#search2 {
    font-size: 16px;
    font-weight: normal;
    color: #fff;
    height: 40px;
	outline:none;
	background-color:transparent;
}
.search-w3ls button.btn.btn-default {
	    width: 40px;
    height: 40px;
    background: #050113;
    outline: none;
    color: #fff;
    border: none;
	border-radius:0;
}
.navbar-inverse {
    background-color:rgba(255, 0, 0, 0);
    border-color:transparent;
}
.navbar-wrapper .nav>li>a {
     position: relative; 
    display: block;
    padding: 10px 15px;
    font-size:16px;
    font-weight:normal;
    margin:0 10px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: rgba(8, 8, 8, 0);
}

/*-- //search --*/
.w3-agile-logo {
    padding: 1em 2em ;
    background: rgba(8, 25, 38, 0.91);
    

}
.head-wl {
    text-align: center;

    margin: 0 auto;
}
.headder-w3 {
	float:left;

    display: inline-block;
}

.head-wl h1 a {
    text-transform: uppercase;
    color:white;
    /*color:#ff4f81;*/
    font-size: 120%;
}
.head-wl h1 a span{color:#000;}
/*-- banner--*/ 
.navbar {margin-bottom:0em;}
.banner-w3{background: url(../images/g6.jpg);

    background-size: cover;
    min-height: 800px;
     animation-duration: 3s;
  animation-name: slidein2;	
}

.banner-w31{background: url(../images/clases.jpg);

    background-size: cover;
    min-height: 800px;
     animation-duration: 3s;
  animation-name: slidein2; 
}

.loader1 {
    position: fixed;
    float: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;

    background: url('../images/send.gif') 50% 50% no-repeat white;
    opacity: 1;

}
#loader1 h1{
    
color:black;
margin-top: 35%
}

.loader {
    position: fixed;
    float: center;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/cuete.gif') 50% 50% no-repeat black;
    opacity: 1;

}
#loader h1{
    
color:white;
margin-top: 35%
}


.w3l-info {
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: 13%;
    padding: 2%;
}
.w3l-info h4{

    font-size: 63px;
    color: white;
	font-weight:600;
}

#totulo{

    font-weight: bold;
    font-size: 150%;
    text-align: center;
}
#boton{
transition: 0.5s;

}
#boton:hover{
    padding: 2%;
    transition: 0.5;

}
.w3l-info p{font-size: 20px;
    letter-spacing: 1px;
    color:white;
    padding: 0px 19em;
    line-height: 2em;
    text-align: center;
	margin:1.5em 0;}
	.w3layouts_more-buttn a {
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    letter-spacing: 2px;
    background:#ff4f81;
    outline: none;
    padding: 10px 22px;
    border: 2px solid #ff4f81;
}
.w3layouts_more-buttn a:hover {
    background: #fff;
    color: #000;
}
/*-- //banner --*/ 
img {    width: 100%;
}
.out-info p{ 
   font-size: 15px;
    letter-spacing: 2px;
    color: #000;
    padding: 10px;
    line-height: 27px;
}
h4.modal-title{ 
   font-size: 32px;
    color: #ff4f81;
    letter-spacing: 2px;
    text-align: center;}
/*-- about --*/ 
.upper-about{text-align:center;
margin-bottom:2em;

}
.about{

}
#cuete3{
    width: 130px;
    height: 130px;
       
}
#cuete1{
 text-align: center;
    

}
.upper-about h2{font-size: 30px;
    color: #ff4f81;
    text-align: center;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein2 {
  from {
    margin-left: 100%;
    width: 300%
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.upper-about1{text-align:center;
margin-bottom:2em;

}
.upper-about1 h2{font-size: 30px;
    color: #ff4f81;
    text-align: center;
}
.upper-about p{    font-size: 15px;
line-height:25px;
    color: #807b7b;
    padding:20px 137px 0px;
  
    
  
}
.upper-about1 p{    font-size: 120%;
line-height:25px;
    color: #ffffff;
    padding:20px 137px 0px;
    animation-duration: 3s;
  animation-name: slidein;
    
  
}

.banner-bottom-girds {
    border: 1px solid rgba(226, 226, 226, 0.56);
    border-width: 0px 1px 1px;
}
.agileits-banner-grid:hover {
	-webkit-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
box-shadow: 2px 15px 70px 2px rgba(0,0,0,0.75);
padding:5%;


}
hr.style18 { 
  height: 30px; 
  border-style: solid; 
  border-color: black; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
} 
hr.style18:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color:black; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

#como:hover{

    margin-bottom: 2%;
}
.agileits-banner-grid {
    padding: 2em;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.agileits-banner-grid:hover span.banner-icon, .bg-w3ls-active span.banner-icon {
    color: #a5c5a0; 
}
.agileits-banner-grid h4 {
    font-size: 22px;
    margin: 1em 0 0;
     color: #ff4f81; 
    font-weight: 600;
}
span.banner-icon {
    color: black;
    font-size: 6em;
    margin-bottom: 2%;
    margin-top: 2%;
}


.agileits-banner-grid:hover.agileits-banner-grid p,.bg-w3ls-active.agileits-banner-grid p {
    color: #fff;
}
.agileits-banner-grid p {
	line-height:25px;
       margin: 1em auto 2em;
    font-size: 18px;
    color: #fff;
}
a.w3_play_icon1 {
    border: none;
    outline: none;
    
    padding:11px 14px;
    color: #fff;
	display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
a.w3_play_icon1:hover {
    text-decoration: none;
    background: #fff;
    color: #000;
    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
}
.clr1{background:#146eb4}
.clr2{background:#2dde98}
.clr3{background:#8e43e7}
/*-- //about --*/
/*-- services --*/  

.up-border{
    padding: 25px 18px;
    background:black;
        transition: .5s ease-in;
	/*
    -webkit-box-shadow:2px 15px 70px 2px rgba(144, 130, 130, 0.28);
    -moz-box-shadow:2px 15px 70px 2px rgba(144, 130, 130, 0.28);
    box-shadow: 2px 15px 70px 2px rgba(144, 130, 130, 0.28);
	    background:transparent;
	    transition: .5s ease-in;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    -ms-transition: .5s ease-in;*/

}
.up-border:hover{
    padding: 10%;
    background-color:black;
}
.up-border h4{
    color:white;
}

.up-border img{
    background-color:black;
}
.our-advantages-grd-left {
	   margin: 0px 0px 19px;
    text-align: center;
   line-height: 73px;
    height: 64px;
	width:64px;
    border-radius: 164px;
    -webkit-border-radius: 160px;
    -moz-border-radius: 160px;
    -ms-border-radius: 160px;
    -o-border-radius: 160px;
    background: #ff4f81;
}
.our-advantages-grd-left span{
    color: #fff;
    font-size: 26px;
}
.our-advantages-grd-right h4 {
    font-size: 16px;
    color: #000;
	letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 31px;
}
.icons-left {
    font-size: 20px;
    margin-right: 20px;
    color: #ff4f81;
}
.one,.two{margin-bottom:30px;}
.our-advantages-grd-to-right{    padding: 0px;
    border-left: 2px solid #ff4f81;
    padding-left: 18px;
	text-align:center;
}
.our-advantages-grd-to-right p {
    color: #999;
    font-size: 14px;
    margin: 0;
    line-height: 26px;
}
.our-advantages-grd-to-right a {
    color: #000;
    text-decoration: none;
    font-size: 14px;
    margin-top: 25px;
    text-align: center;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    outline: none;
    border: 1px solid #000;
    padding: 8px 24px;
    border-radius: 20px;
    letter-spacing: 2px;
    background-color: white;
}
.our-advantages-grd-to-right a:hover {
    color: #fff;
    background-color: #ff4f81;
    border-color: #ff2b67;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //services --*/ 
/*-- gallery --*/  
.gallery-grid-img{padding:0px}
.w3-agilepic:hover { 
background:#fff;
    -webkit-transform: rotateY(0) rotateX(0);
	-moz-transform: rotateY(0) rotateX(0);
	-o-transform: rotateY(0) rotateX(0);
	-ms-transform: rotateY(0) rotateX(0);
	transform: rotateY(0) rotateX(0);
}
/*-- //gallery --*/
/*-- team --*/ 
.t-info{text-align:center;
             border: 1px solid #000;
    padding: 10px;
	background:#ff4f81;
}
.t-info h5{font-size:19px;
          color:#000;
		  padding-bottom: 5px;
		  letter-spacing:1.5px;
		  }
.t-info p{font-size:15px;
letter-spacing:2px;
color:#fff;}		  
.team-agile-img {
	width:100%;
  background-color: #FFF;
  display: block; 
  overflow: hidden;
  position: relative; 
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 1;
  filter: alpha(opacity=100);
}
.team-agile-img img { 
  width: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.team-agile-img:before {
  content: '';
  background-color: rgba(0, 0, 0, 0);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.team-agile-img:hover {
  cursor: pointer;
}
.team-grids{padding:0PX 10PX;}
.team-agile-img:hover .view-caption {
  -moz-transform: translateY(0%) scale(1);
  -o-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  -webkit-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}
.view-caption {
    background-color:rgba(1, 4, 6, 0.45);
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 99;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: translateY(150%) scale(1.5);
    -o-transform: translateY(150%) scale(1.5);
    -ms-transform: translateY(150%) scale(1.5);
    -webkit-transform: translateY(150%) scale(1.5);
    transform: translateY(150%) scale(1.5);
}
.view-caption ul {

  display: inline-block;
}
.view-caption ul li {
  display: inline-block;
}
.view-caption ul li a {
    background-color: #fff;
    border-radius: 50%;
    color: #095880;
    display: inline-block;
    margin: 0 2px;
    height: 28px;
    text-align: center;
    line-height: 30px;
    width: 28px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
}
.view-caption ul li a:hover {
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
/*-- //team --*/ 
/*--contact--*/
.contact {
    background-color:white;

    /*background-size: cover;
    -webkit-box-shadow: inset -2px -5px 40px 17px rgba(73,104,128,1);
-moz-box-shadow: inset -2px -5px 40px 17px rgba(73,104,128,1);
box-shadow: inset -2px -5px 40px 17px rgba(73,104,128,1);*/
}
.contact-form {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.info ul {
    padding: 0;
    list-style: none;
}
.contact-form p {
    color: #999;
    margin: 1em 0 3em;
}
.form-left {
    padding-left: 0;
}
.formulario{
color: white;

}
#formato{
    transition: 2s
}
#formato p{
font-size: 120%;

}
#formato:hover{

    padding: 2%;
    transition: 2s;
}
.form input[type="text"],input[type="email"]{
    width: 100%;
    color: black;
    background: white;
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #fff;
    -webkit-appearance: none;
    display: inline-block;
		transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
 
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
     color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}
.contact textarea {
    resize: none;
    width: 100%;
    background: none;
    color: #fff;
    font-size: 1em;
    outline: none;
    padding: .6em 1em;
    border: none;
    border-bottom: solid 2px #fff;
    min-height: 10em;
    -webkit-appearance: none;
		transition:all 0.5s ease-in-out;
	-webkit-transition:all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-o-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
}
.contact input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.7em 5em;
    font-size: 14px;
    margin: 1em 0 0 0;
	border:1px solid #fff;
    -webkit-appearance: none;
    background: #ff4f81;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    -moz-transition: 0.5s all;
}
.contact  input[type="submit"]:hover {
    background: none;
    color: #fff;
	border:1px solid #fff;
}
.contact input[type="text"]:hover,input[type="email"]:hover,.contact input[type="text"]:focus,input[type="email"]:focus,.contact textarea:hover,.contact textarea:focus{
    border-color:#ff4f81;
}
.contact-top {
    
    background:#ffb3ff;
    padding: 1em;
}
.contact-top iframe {
    width: 100%;
    height: 400px;
    border: none;
}
.form-right{padding-right:0px;}
/*--//contact--*/
/*--//footer--*/
.buttom{background:#000;
        padding:2em 0em;}
		.email-btum{display:inline;}
.three-rows input[type="email"] {
	width:84%;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #ff4f81;
    outline: none;
    padding: 0.5em;
    font-size: 15px;
    color: #999999;

}
.btn1 {
    color: #dec6be;
    font-size: 18px;
    border: 1px solid #ff4f81;
    width: 14%;
    height: 38px;
    text-decoration: none;
    background:#ff4f81;
    transition: 0.5s all;
    outline: none;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.mid-row h4,.three-rows  h4{
    font-size: 30px;
    color: #ff4f81;
    letter-spacing: 2px;
}
.three-rows{padding:35px;
            padding-bottom:0px}
.addres.up-out p:nth-child(1),.addres.up-out p:nth-child(2),.addres.up-out p:nth-child(3) {
    padding-top: 0px;
}
.three-rows  h4{   
 text-align: left;}
.mid-row p,.three-rows p{
    font-size: 15px;
    letter-spacing: 2px;
    color: #fff;
    padding: 0px 0px 21px;
    line-height: 26px;
}
.mid-row{border: 4px solid #ff4f81;
    color: #000;
    padding: 35px;
    text-align: center;
	background:#fff;
}
.mid-row p{ 
    text-align: center;
	color:#000;
}
#fonfo{

    background-color: rgba(173, 173, 173, 0.25);
    border-radius: 2%;
    transition-duration: 1s;
}
#fonfo:hover{
    
    padding: 1%;
    font-size: 115%;
    background-color: transparent;
    transition-duration: 1s;
}
.three-rows p{text-align: left;}
.social-icon span {
    margin-right:0.5em;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 37px;
    border: 1px solid #ff4f81;
    font-size: 16px;
    cursor: pointer;
    color:#ff4f81;
	    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.social-icon span:hover{color:#000;}
.icons-left {
    font-size: 20px;
    margin-right: 14px;
    color: #ff4f81;
}

#titulo{color:white;
font-size: 100%;
}
@media screen and (max-width: 1000px) {

span.banner-icon {
    color: black;
    font-size: 6em;
    margin-bottom: 2%;
    margin-top: 2%;
}

.top-nav{background-color: transparent;
width: 100%;}

#loader h1{
    
color:white;
margin-top: 110%;
}
#ubi{display: none}

#titulo{
    font-size: 40%;
}
#telefono{

    
   display: none;
}
.head-wl {

    font-size: 50%;
}

}


.addres p {font-size:15px;
          color:#fff;
		  padding:10px 0px;}
.up-out{padding-top: 20px;}
.number,.number a{color:white;
font-size: 100%;
}
.number a:hover{color:#fff;}
footer p {
    padding: 0.8em 0;
    text-align: center;
    font-size: 15px;
    color: black;
    letter-spacing: 1px;
    background: white;
}
footer p a {
    color: #000;
	text-decoration:underline;
}
footer p a:hover{color:#ff4f81;}
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 26px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
    width: 40px;
    height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/arr.png") no-repeat 0px 0px;
	background-size: 40px;
}
#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*--responsive--*/
@media(max-width:1920px){
	
}
@media(max-width:1680px){
	
}
@media(max-width:1600px){
	
}
@media(max-width:1440px){
	
}
@media(max-width:1366px){
	
}
@media(max-width:1280px){
.w3l-info {
    margin-top: 15em;
}
.banner-w3 {
    min-height: 730px;
}

.w3l-info p {
    padding: 0px 12em;
}
.upper-about p {
    padding: 20px 83px 0px;
}
}
@media(max-width:1080px){
	.w3l-info {
    margin-top: 19em;
}
.banner-w3 {
    min-height: 730px;
}

.w3l-info p {
    padding: 0px 12em;
}
.upper-about p {
    padding: 20px 83px 0px;
}
.agileits-banner-grid {
    padding: 2em 1em;
}
.about, .services, .gallery, .contact, .team {
    padding: 5em 0;
}
.contact-top iframe {
    height: 321px;
}	
.our-advantages-grd-to-right {
    padding-left: 14px;
}
.our-advantages-grd-to-right a {
    font-size: 13px;
    padding: 8px 17px;
    letter-spacing: 1px;
	    margin-top: 15px;
}
.our-advantages-grd-left span {
    font-size: 23px;
}
.our-advantages-grd-left {
    line-height: 66px;
    height: 60px;
    width: 60px;
}
.mid-row {
    padding: 24px 20px
}
.three-rows {
    padding: 22px 20px 0px;
}
.three-rows input[type="email"] {
    width: 82%;
}
.mid-row p, .three-rows p {
    font-size: 13px;
    letter-spacing: 1px;
}
.icons-left {
    font-size: 17px;
    margin-right: 10px;
}
.social-icon span {
    width: 35px;
    height: 35px;
    line-height: 33px;
    font-size: 15px;
}
}
@media(max-width:1050px){
	.navbar-fixed-top {
    top: 76px;
}
ul.nav.navbar-nav li a {
    padding: 17px 0px;
}
.head-wl h1 a {
    font-size: 45px;
}
.search-w3ls {
    margin-top: 1px;
}
.w3l-info h4 {
    font-size: 58px
}
}
@media(max-width:1024px){
.banner-w3 {
    min-height: 690px;
}
.banner-w3 {
    min-height: 690px;
}
.navbar-fixed-top {
    top: 75px;
}
.about, .services, .gallery, .contact, .team {
    padding: 4em 0;
}
.title {
    font-size: 46px;
	    letter-spacing: 10px;
}	
.upper-about p {
    padding: 12px 83px 0px;
}
.upper-about h2 {
    font-size: 28px;
}
.contact-top iframe {
    height: 300px;
}
}
@media(max-width:991px){
.w3l-info p {
    padding: 0px 4em;
}
.upper-about p {
    padding: 12px 9px 0px;
}
.about, .services, .gallery, .contact, .team {
    padding: 3.5em 0;
}	
span.banner-icon {
    font-size: 6em;
}
.agileits-banner-grid h4 {
    font-size: 21px;
}
.agileits-banner-grid p {
    font-size: 14px;
}
a.w3_play_icon1 {
    padding: 11px 12px;
    letter-spacing: 1px;
    font-size: 12px;
}
.our-advantages-grd-left {
    margin: 0px auto;
}
.our-advantages-grd-right h4 {
    margin: 10px 0px;
	text-align: center;
}
.our-advantages-grd-to-right {
	padding-left:0px;
	border-left:none;
	border-top:2px solid #ff4f81;
	padding-top:10px;
}
.view-caption {
    background-color: rgba(1, 4, 6, 0.45);
    bottom: 0;
}
.three-rows input[type="email"] {
    width: 75%;
    margin: 0px;
}
.buttom-down{padding-right:0px;}
.up-one{padding-left:0px;}
.btn1 {
    width: 18%;
}
.number, .number a {
    display: block;
}

}
@media(max-width:900px){
	.w3l-info {
    margin-top: 15em;
}
.w3l-info h4 {
    font-size: 53px;
}
.w3l-info p {
    margin: 1em 0;
}
.banner-w3 {
    min-height: 665px;
}
.title {
    font-size: 42px;
    letter-spacing: 7px;
    margin-bottom: 21px;
}
.upper-about {
    margin-bottom: 1.5em;
}	
}
@media(max-width:800px){

.banner-w3 {
    min-height: 617px;
}
.w3l-info h4 {
    font-size: 48px;
}
.w3l-info p {
    font-size: 13.5px;
}
.head-wl h1 a {
    font-size: 40px;
}
.upper-about p {
    font-size: 14px
}
.upper-about h2 {
    font-size: 25px;
}
.up-out {
    padding-top: 14px;
}	
.team-row{    width: 85%;
    margin: 0 auto;}
.team-grids {width:50%;}
.team-grids:nth-child(1),.team-grids:nth-child(2) {
    margin-bottom: 10px;
}
}
@media(max-width:768px){
	.contact-top iframe {
    height: 222px;
}
.title {
    font-size: 40px;
    letter-spacing: 5px;
}
.about, .services, .gallery, .contact, .team {
    padding: 2.5em 0;
}
.agileits-banner-grid h4 {
    margin: .5em 0 0;
}
.agileits-banner-grid p {
    margin: 1em auto 1em;
}
}
@media(max-width:767px){
	.stats-grid {margin-top:1.5em;}
	.navbar-toggle {background:#ff4f81;}
.icon-bar {background:white;}
.navbar-header{background:transparent;
    
    float: right;
    
    text-align: right;
;}
.navbar-toggle {

}
.navbar-nav > li {
    margin: 0 auto;
    width: 100%;
}	
ul.nav.navbar-nav li a:hover {background:#ff4f81;}
.navbar-toggle:hover {
	
    border-color: #ff4f81;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
   background:#fff;
}

.form-right {
    padding-left: 0px;
}
.contact textarea {
    min-height: 7em;
}
.mid-row {
    margin-top: 29px;
}
.mid-row p, .three-rows p {
    padding: 0px 0px 9px;
}
.up-one {
	padding-top:0px;
    padding-right: 0px;
}
.buttom-down {
    padding-left: 0px;
}
.btn1 {
    width: 13.5%;
}
.three-rows input[type="email"] {
    width: 85.8%;
}
.number, .number a {
    display: inline-block;
}
}
@media(max-width:736px){
	.w3l-info {
    margin-top: 12em;
}
.banner-w3 {
    min-height: 573px;
}
.btn1 {
    width: 13%;
}
}
@media(max-width:667px){
	.w3l-info p {
    padding: 0px 1.5em;
}
.team-row {
    width: 85%;
}
.three-rows input[type="email"] {
    width: 85.5%;
}
}
@media(max-width:640px){
	.w3l-info h4 {
    font-size: 38px;
}
.w3l-info p {
    margin: 1em 0;
}
.contact-top iframe {
    height: 210px;
}
.buttom {
    padding: 1.2em 0em;
}
.three-rows input[type="email"] {
    width: 85%;
}
}
@media(max-width:600px){
	ul.nav.navbar-nav li a {
    padding: 10px 0px;
}
.head-wl h1 a {
    font-size: 36px;
}
.w3layouts_more-buttn a {
    letter-spacing: 1px;
    padding: 10px 18px;
}
.our-advantages-grid{
    width: 100%;

}
.three{margin-bottom:30px;}
.up-out {
    padding-top: 10px;
}
.three-rows input[type="email"] {
    width: 85.5%;
}
}
@media(max-width:568px){
.w3-agile-logo {
    padding: .5em 1em;
}	
.navbar-fixed-top {
    top: 62px;
}
.banner-w3 {
    min-height: 534px;
}
.w3l-info {
    margin-top: 12em;
}
.w3layouts_more-buttn a {
    font-size: 12px;
    padding: 10px 15px;
}
.our-advantages-grd-left {
    line-height: 63px;
    height: 54px;
    width: 54px;
}
.mid-row h4, .three-rows h4 {
    font-size: 27px;
    color: #ff4f81;
}
.social-icon span {
    width: 32px;
    height: 32px;
    line-height: 30px;
}
.team-row {
    width: 90%;
}
}
@media(max-width:480px){
.w3l-info h4 {
    font-size: 34px;
}
.w3l-info p {
    font-size: 13px;
}
.team-row {
    width: 70%;
    margin: 0 auto;
}
.team-grids {
    width: 99%;
}
footer p {
    font-size: 14px;
}
.team-grids:nth-child(3) {
    margin-bottom: 10px;
}
}
@media(max-width:440px){
.headder-w3 ,.search-w3ls{float:none;
font-size: 50%;
}
.headder-w3{    margin-bottom: 8px;}
.navbar-fixed-top {
    top: 113px;
}
.w3l-info h4 {
    font-size: 31px;
}
.w3l-info p {
    padding: 0px .5em;
}
.out-info p {
    font-size: 14px;
    letter-spacing: 1px;
    padding: 7px;
    line-height: 26px;
}
.modal-header {
    padding: 7px;
}
.title {
    font-size: 38px;
}
.t-info h5 {
    font-size: 18px;
    letter-spacing: 1px;
}
.t-info {
    padding: 7px;
}
.contact-top iframe {
    height: 170px;
}
.mid-row {
    padding: 18px 20px;
}
.team-row {
    width: 76%
}
footer p {
    padding: 1em 1em;
    line-height: 24px;
}

}

@media(max-width:414px){
.banner-w3 {
    min-height: 523px;
}
.w3l-info {
    margin-top: 9em;
}
.view-caption {
padding: 15px 14px;}	
.view-caption ul li a {
    height: 22px;
    line-height: 24px;
    width: 24px;
    font-size: 14px;	
}

}
@media(max-width:384px){
	.w3l-info h4 {
    font-size: 29px;
}
.title {
    font-size: 36px;
    letter-spacing: 2px;
}

.contact input[type="submit"] {
    padding: 0.7em 4em;
}
.team-row {
    width: 85%;
}
}
@media(max-width:375px){
.w3l-info p {
    line-height: 1.8em;
}	
.upper-about {
    margin-bottom: 1em;
}
.up-border {
    padding: 17px 13px;
}
}
@media(max-width:320px){
	.w3l-info h4 {
    font-size: 24px;
}
.banner-w3 {
    min-height: 490px;
}
.w3l-info {
    margin-top: 7em;
}
.upper-about p {
    padding: 12px 4px 0px;
    color:black;

}
.up-border {
    padding: 17px 8px;
}
.our-advantages-grd-right h4 {
    font-size: 15px;
}
.our-advantages-grd-to-right p {
    font-size: 13px;
}
.title {
    font-size: 33px;
    letter-spacing: 1px;
}
.view-caption {
    padding: 15px 10px;
}

.contact-top iframe {
    height: 145px;
}
.three-rows input[type="email"] {
    width: 84.5%;
}
}
/*--//responsive--*/


