
@font-face {
  font-family: 'LearningCurve';
  src: url('LearningCurve.eot?#iefix') format('embedded-opentype'),  url('LearningCurve.otf')  format('opentype'),
	     url('LearningCurve.woff') format('woff'), url('LearningCurve.ttf')  format('truetype'), url('LearningCurve.svg#LearningCurve') format('svg');
  font-weight: normal;
  font-style: normal;
}
